.navbar {
  * {
    user-select: none;
  }

  .navbar-brand {
    width: 200px;
  }

  ._container {
    margin: auto 15px;
  }

  // .rotating-element {
  //   display: inline-block;
  //   transition: transform 0.7s ease; // Smooth rotation effect
  //   transform: rotate(0deg); // Initial state

  //   &:hover {
  //     transform: rotate(deg); // Rotate clockwise on hover
  //   }

  //   &:not(:hover) {
  //     transform: rotate(-180deg); // Rotate anti-clockwise on hover out
  //   }
  // }


  .user-detail {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 40px;
      width: 40px;
      border: 1px solid #574c02;
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      margin-top: 5px;
      margin-left: 10px;
      font-size: 16px;
    }
  }
}
