.profile-container {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid #5e5e5e;
  border-radius: 20px;
  overflow: auto;

  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
  }

  .title {
    border-bottom: 1px solid #5e5e5e;
    margin: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;


    h5 {
      margin: 10px auto;
    }
  }

  .profile-info {
    height: 380px;
    border-bottom: 1px solid #5e5e5e;
    // background-color: aqua;

    .field-container {
      height: auto;
      width: 100%;
      display: flex;
      // background-color: aquamarine;

      .profile-left-container {
        position: relative;
        width: 30%;
        padding: 10px;
        // background-color: rgb(127, 229, 255);

        .upload-profile-img {
          margin: auto;

          .profile-pic-wrap {
            width: 100%;
            height: 100%;

            #profileImage {
              position: absolute;
              width: 100%;
              height: 100%;
              border: 1px solid #ddd;
              border-radius: 30px;
              padding: 0px;
              background-color: #cacaca;
              opacity: 0;
              z-index: 999;
              cursor: pointer;
            }

            .profile-pic {
              width: 100%;
              height: 100%;
              border: 0px;
              border: 1px solid #ddd;
              border-radius: 30px;
              object-fit: cover;
              z-index: 99;

              &.preview {
                top: 0;
              }
            }

            .verifed-mark {
              position: absolute;
              right: 5px;
              // bottom: 5px;
              font-size: 30px;
              width: 30px;
              height: 30px;
              color: #0043ff;
            }
          }
        }
      }

      .profile-right-container {
        position: relative;
        width: 70%;
        padding: 20px 10px;

        // background-color: rgb(127, 255, 148);
      }
    }
  }

  .msg {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
