@if (data.modal == 'default-modal') {
  <button class="close-btn" mat-dialog-close><i class="icofont-close-circled"></i></button>
  <h2 mat-dialog-title style="text-align: center;">Default Modal title</h2>
  <mat-dialog-content class="mat-typography">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sit vero necessitatibus explicabo, nisi, repellendus eum assumenda, mollitia sequi deserunt autem expedita exercitationem dolorum corrupti. Quidem harum commodi cupiditate numquam?</p>
  </mat-dialog-content>
  <!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>done</button>
  </mat-dialog-actions> -->
  }
