.main-container {
  height: 100vh;

  .body-container {
    display: flex;
    height: calc(100% - 56px);
    position: relative;

    .left-container {
      position: absolute;
      height: 100%;
      width: 20%;
      padding: 15px;
      margin-left: 0;
      /* Visible state */
      transition: margin-left 0.3s ease;
      /* Smooth transition */
    }

    .right-container {
      height: 100%;
      width: 100%;
      padding: 15px;
      transition: margin-left 0.3s ease;
      /* Transition for sliding effect */
      margin-left: 20%;
      /* Adjusts when sidebar is open */

      .content-viewer {
        width: 100%;
        height: 100%;
        background-color: beige;
        border-radius: 20px;
        padding: 10px;
      }
    }

    &.sidenav-open .left-container {
      margin-left: 0;
      /* Sidebar visible */
    }

    &.sidenav-open .right-container {
      margin-left: 20%;
      /* Right container pushed to the right */
    }

    &.sidenav-close .left-container {
      margin-left: -20%;
      /* Hide sidebar by sliding it left */
    }

    &.sidenav-close .right-container {
      margin-left: 0;
      /* Full width when sidebar is closed */
    }
  }
}
